[Unit]
Description=Uvicorn instance to serve Polymoment FastAPI backend
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/polymoment
Environment="PATH=/home/ubuntu/miniconda3/envs/polymoment/bin"
ExecStart=/home/ubuntu/miniconda3/envs/polymoment/bin/gunicorn -w 1 -k uvicorn.workers.UvicornH11Worker -b 127.0.0.1:8123 -t 1200 --keep-alive 1200 main_backend:app

[Install]
WantedBy=multi-user.target
